[Desktop Entry]
Name=Unity Hub
GenericName=Unity Game Engine Manager
Keywords=Unity;Hub;UnityHub;
Exec=/usr/libexec/vhal-bazzite/unityhub-bazzite %U
Terminal=false
Type=Application
Icon=unityhub
Categories=Development;
StartupNotify=true
